<div [ngClass]="{'menu_on': menu_show,'menu_off':menu_hide}" class='menu'>
    <a href='#about' (click)='closeMenu()' class='moblie-menu-links'>About</a>
    <a href='#services' (click)='closeMenu()' class='moblie-menu-links'>Services</a>
    <a href='#why' (click)='closeMenu()' class='moblie-menu-links'>Why WePack</a>
    <a href='#contact' (click)='closeMenu()' class='moblie-menu-links'>Contact Us</a>
    <a (click)='closeMenuCall()' class='moblie-menu-links'>Call Now</a>
    <div class='moblie-menu-close'>
        <img (click)='closeMenu()' class='down-up' src="../assets/img/down-arrow.png" alt="Mobile Menu">
    </div>
</div>
<a href="tel:" class='call-now-mobile'>
    <i class="fa fa-phone icon" aria-hidden="true"></i>
</a>

<div class='background'>

    <video *ngIf="true" class='video-size' onloadedmetadata="this.muted = true" playsinline autoplay muted loop>
    <source src="../assets/video/wepackvideo.mp4" type="video/mp4">
  </video>

    <div class='home-overlay'>

        <div class='home-overlay-links'>
            <div class='get-quote-wrapper' [@fadeInOut]="state">
                <!-- <img  class='overlay-logo' src="../assets/img/WePack_FinalLogo_White-01.png" > -->
                <div class="home-overlay-call">
                    <div class='overlay-logo' alt="Park City's Premier Moving Company"></div>
                    <h1>Give us a call:</h1>
                    <a href="tel:"></a>
                </div>
                <div class="home-overlay-form">
                    <h2 class='quote-header'>Tell Us About Your Move</h2>
                    <!-- <label for="type">Choose a car:</label> -->
                    <select class='quote-select' value="Type of move" name="type" id="type" [(ngModel)]='quote.type'>
                      <option value="">Type of move</option>
                      <option value="In State">In-state</option>
                      <option value="Out of State">Out-of-state</option>
                    </select>
                    <select class='quote-select' value="Moving Size" name="type" id="type" [(ngModel)]='quote.size'>
                      <option value="">Size of move</option>
                      <option value="House">House</option>
                      <option value="Townhouse">Townhouse</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Business">Business</option>
                      <option value="Storage">Storage</option>
                      <option value="Other">Other</option>
                    </select>
                    <input class='quote-inputs' [(ngModel)]='quote.when' type="month" name="number" />
                    <input class='quote-inputs' [(ngModel)]='quote.zip' type="text" name="lastname" placeholder="Zip Code" />
                    <input class='quote-inputs' [(ngModel)]='quote.name' type="text" name="name" placeholder="Name" />
                    <input class='quote-inputs' [(ngModel)]='quote.number' type="text" name="number" placeholder="Phone Number" />
                    <input class='quote-inputs' [(ngModel)]='quote.email' type="text" name="email" placeholder="Email" />
                    <button class='quote-select' (click)='sendQuote()'>Get A Free Quote</button>

                </div>
            </div>
        </div>
    </div>




    <div class='nav-bar-desktop' [@scrollAnimation]="state">
        <div *ngIf="state == 'show'" class='nav-bar-links words'>
            <a href="#about">About</a>
            <a href="#services">Services</a>
        </div>
        <div *ngIf="state == 'show'" class='nav-bar-links'><img class='nav-bar-logo' src="../assets/img/WePack_FinalLogo_White-01.png" alt="Park City's Premier Moving Company"></div>
        <div *ngIf="state == 'show'" class='nav-bar-links words'>
            <a href="#why">Why WePack</a>
            <a href="#contact">Contact Us</a>
        </div>
    </div>
    <div (click)='menu_show = true' class='nav-bar-mobile' [@scrollAnimation]="state">
        <div *ngIf="state == 'show'" class='nav-bar-links'><img class='nav-bar-logo' src="../assets/img/WePack_FinalLogo_White-01.png"></div>
        <div (click)='menu_show = true' *ngIf="state == 'show'" class='nav-bar-links'><img class='down-arrow' src="../assets/img/down-arrow.png" alt="Mobile Menu"></div>
    </div>
</div>


<div id='about' class='spacer' lazy-load-images>
    <div class='spacer1-background'>
        <div class='aboutUs'>
            <div class='about-contain'>
                <div class='about-head'>
                    <h1>About Us</h1>
                </div>
                <br>
                <br>
                <p>
                    WePack moving & logistics is your preferred local, national, and international moving company based out of Park City, Utah. Since 1997, WePack has worked hard to provide industry-leading moving and relocation services.
                </p>
                <p>
                    <br>
                    <br> WePack oversees a nationwide network of highly trained independent providers who understand that a successful move is more than just delivering a client's possessions to their final destination. We earn the trust of our valued
                    clients by creating an unparalleled comfort level during the moving process while at the same time understanding the importance of being accountable in every facet of the service delivery process.
                </p>
            </div>
        </div>
    </div>
</div>



<div id='why' class="why-wepack">
    <div class="why-sections">

        <div class="why-top why-img">
            <div class="why-top-content">
                <h1>Why WePack</h1>
                <p>
                    Moving is a tremendous ordeal so why do it yourself when our team of professionals can do it for you? With premium care just a call away, the responsibility of our team is to provide you with an unparalleled service. We've got you covered.
                    <br>
                    <br> So Relax...

                </p>
            </div>

        </div>
        <div class="why-top benefits-img">
            <div class="why-top-content">
                <h1>Benefits</h1>
                <p>
                    Think personal assistant but better. WePack provides skills like critical thinking, problem solving, flexibility and more to help you take care of little odds and ends that you’d normally forget. No matter how odd or unusual the request may be, we’re
                    here to give you peace of mind.

                </p>
            </div>
        </div>
    </div>
    <div class="why-sections">
        <div class="why-top commercial-img">
            <div class="why-top-content">
                <h1>Commercial Relocation</h1>
                <p>
                    Ensure that your new workspace creates a comfortable and encouraging environment for happy, productive, and focused employees. Our priority is to organize and execute a stress-free transition for not only you and your business but for your employees and
                    their families as well.
                </p>
            </div>
        </div>
        <div class="why-top residential-img">
            <div class="why-top-content">
                <h1>Residential Relocation</h1>
                <p>
                    From packing to shipping to donating unwanted things; WePack can handle it all. Home staging is your friend, and so are we. We're here to help you find the perfect interior decorater, home entertainment technician, or kitchen and storage organization
                    specialist, so you can be seamlessly relocated and settled in on your schedule.
                </p>
            </div>
        </div>

    </div>
</div>

<div id='services' class="spacer2" lazy-load-images>
    <div class="spacer2-background">
        <div class="service-section">
            <div class="services-head">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</div>

<div class='services-spacer'>
    <div class="row" lazy-load-images>
        <div *ngFor="let service of servicesOBJ" class="img-container" [attr.data-background-src]=service.url>
            <div class="services-overlay-title">
                <div class="overlay-text">
                    <div class="overlay-head">
                        <h1>{{ service.title }}</h1>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="services-overlay">
                <div class="overlay-text">
                    <div class="overlay-head">
                        <h1>{{ service.title }}</h1>
                    </div>
                    <br>
                    <br>
                    <p>
                        {{ service.des }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id='contact' class="footer">

    <div class="footer-left">

        <h1>WePack moving & logistics</h1>

        <p class="footer-links">
            <a href="#">Home</a> ·
            <a href="#about">About Us</a> ·
            <a href="#services">Services</a> ·
            <a href='#why'>Why WePack</a>
        </p>

        <div class="green-utah">
            <img class='green-img' src="../assets/img/Green-Business-Logo-Update-300x300.png" alt="">
            <p>WePack moving & logistics is a proud
                <br>Recycle Utah Green Bussiness.</p>
        </div>
    </div>

    <div class="footer-right">


        <div class='contact-form'>
            <p>Tell us about your move <br> or give us a call at <a (click)='sendEmail()' href="tel:">num</a></p>
            <br>
            <br>
            <select class='quote-select' value="Type of move" name="type" id="type" [(ngModel)]='quote.type'>
              <option value="">Type of move</option>
              <option value="In State">In-state</option>
              <option value="Out of State">Out-of-state</option>
            </select>
            <select class='quote-select' value="Moving Size" name="type" id="type" [(ngModel)]='quote.size'>
              <option value="">Size of move</option>
              <option value="House">House</option>
              <option value="Townhouse">Townhouse</option>
              <option value="Apartment">Apartment</option>
              <option value="Business">Business</option>
              <option value="Storage">Storage</option>
              <option value="Other">Other</option>
            </select>
            <input class='quote-inputs' [(ngModel)]='quote.when' type="month" name="number" />
            <input class='quote-inputs' [(ngModel)]='quote.zip' type="text" name="lastname" placeholder="Zip Code" />
            <input class='quote-inputs' [(ngModel)]='quote.name' type="text" name="name" placeholder="Name" />
            <input class='quote-inputs' [(ngModel)]='quote.number' type="text" name="number" placeholder="Phone Number" />
            <input class='quote-inputs' [(ngModel)]='quote.email' type="text" name="email" placeholder="Email" />
            <button class='quote-select' (click)='sendQuote()'>Get A Free Quote</button>
        </div>

    </div>
    <div class="logo-position">
        <p class="footer-company-name">Copyright &copy; 2019 WePack moving & logistics LLC | Website designed & created by
            <a href="www.phdesigns.io" target="_blank">Penguin House Designs LLC</a></p>
    </div>
</footer>