<div class='loader-animation'>
  <h1 class='loader-animation-text-1'>Relax<span class='loader-animation-text-2'>,</span></h1>
  <h1 class='loader-animation-text-2 left-padding'>WePack.</h1>
</div>

<div class='background' [@loaderAnimate]>
  <video *ngIf="true" class='video-size' onloadedmetadata="this.muted = true" playsinline autoplay muted loop>
    <source src="../assets/video/wepackvideo.mp4" type="video/mp4">
  </video>
  <div class='nav-bar'>
    <div class='nav-bar-links words'>
      <div>ABOUT</div>
      <div>SERVICES</div>
    </div>
    <div class='nav-bar-links'><img class='nav-bar-logo' src="../assets/img/WePack_Logo_White.png"></div>
    <div class='nav-bar-links words'>
      <div>GALLERY</div>
      <div>CONTACT US</div>
    </div>
    <!-- <div class='nav-bar-links'></div>
    <div class='nav-bar-links'></div> -->
  </div>
</div>


<div class='aboutUs' [@loaderAnimate]>

</div>