<div class='loader-animation'>
  <h1 class='loader-animation-text-1'>Relax<span class='loader-animation-text-2'>,</span></h1>
  <h1 class='loader-animation-text-2 left-padding'>WePack.</h1>
</div>

<div [ngClass]="{'menu_on': menu_show,'menu_off':menu_hide}" class='menu'>
  <div class='moblie-menu-links'>About</div>
  <div class='moblie-menu-links'>Services</div>
  <div class='moblie-menu-links'>Gallery</div>
  <div class='moblie-menu-links'>Contact Us</div>
  <div class='moblie-menu-close'>
    <img (click)='closeMenu()' class='down-up' src="../assets/img/down-arrow.png">
  </div>
</div>

<div class='background' [@loaderAnimate]>
  <video *ngIf="true" class='video-size' onloadedmetadata="this.muted = true" playsinline autoplay muted loop>
    <source src="../assets/video/wepackvideo.mp4" type="video/mp4">
  </video>
  <div [@fadeInOut]="state" class='overlay'>
    <div class='overlay-links'><img class='overlay-logo' src="../assets/img/WePack_FinalLogo_White-01.png"></div>
  </div>
  <div class='nav-bar-desktop' [@scrollAnimation]="state">
    <div *ngIf="state == 'show'" class='nav-bar-links words'>
      <div>About</div>
      <div>Services</div>
    </div>
    <div *ngIf="state == 'show'" class='nav-bar-links'><img class='nav-bar-logo' src="../assets/img/WePack_FinalLogo_White-01.png"></div>
    <div *ngIf="state == 'show'" class='nav-bar-links words'>
      <div>Gallery</div>
      <div>Contact Us</div>
    </div>
  </div>
  <div class='nav-bar-mobile' [@scrollAnimation]="state">
    <div *ngIf="state == 'show'" class='nav-bar-links'><img class='nav-bar-logo' src="../assets/img/WePack_FinalLogo_White-01.png"></div>
    <div (click)='menu_show = true' *ngIf="state == 'show'" class='nav-bar-links'><img class='down-arrow' src="../assets/img/down-arrow.png"></div>
  </div>
</div>


<div class='spacer' [@loaderAnimate2]>
  <div class='spacer1-background' [@loaderAnimate2]>
    <div class='aboutUs' [@loaderAnimate2]>
      <div class='about-contain'>
        <div class='about-head'>
          <h1>About Us</h1>
        </div>
        <br>
        <br>
        <div>
          WePack is a safe and secure way to relocate you comfortably to wherever you need to be.
          With over 20 years of expertise, WePack provides moving service that provides all-inclusive amenities from
          eco-conscious,
          recycled packing supplies to art transportation/re-installation to private car transportation nationwide.
          Moving internationally? No problem. Our services can be customized to our clients’ specific needs.
        </div>
        <div>
          <br>
          <br>
          Based out of Park City, Utah, WePack offers consultations to customize packing,
          moving and/or transportation programs.
          Priding ourselves on flexibility and driven by specified client needs,
          our company has partnered with a collection of high-end,
          quality independent agents to deliver exceptional service.
        </div>
      </div>
    </div>
  </div>
</div>




<div class='spacer' [@loaderAnimate2]>
  <div class='spacer2-background' [@loaderAnimate2]>
    <div class='services' [@loaderAnimate2]>
      <div class='services-contain'>
        <div class='services-head'>
          <h1>Services</h1>
        </div>
        <br>
        <br>
        <div>
          WePack is a safe and secure way to relocate you comfortably to wherever you need to be.
          With over 20 years of expertise, WePack provides moving service that provides all-inclusive amenities from
          eco-conscious,
          recycled packing supplies to art transportation/re-installation to private car transportation nationwide.
          Moving internationally? No problem. Our services can be customized to our clients’ specific needs.
        </div>
        <div>
          <br>
          <br>
          Based out of Park City, Utah, WePack offers consultations to customize packing,
          moving and/or transportation programs.
          Priding ourselves on flexibility and driven by specified client needs,
          our company has partnered with a collection of high-end,
          quality independent agents to deliver exceptional service.
        </div>
      </div>
    </div>
  </div>
</div>



<div class='footer' [@loaderAnimate2]>
  <div class='footer-contain'>
    <div class='footer-head'>
      <h1>Footer</h1>
    </div>
    <br>
    <br>
    <div>
      WePack is a safe and secure way to relocate you comfortably to wherever you need to be.
      With over 20 years of expertise, WePack provides moving service that provides all-inclusive amenities from
      eco-conscious,
      recycled packing supplies to art transportation/re-installation to private car transportation nationwide.
      Moving internationally? No problem. Our services can be customized to our clients’ specific needs.
    </div>
    <div>
      <br>
      <br>
      Based out of Park City, Utah, WePack offers consultations to customize packing,
      moving and/or transportation programs.
      Priding ourselves on flexibility and driven by specified client needs,
      our company has partnered with a collection of high-end,
      quality independent agents to deliver exceptional service.
    </div>
  </div>
</div>